[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
django-allauth = "*"
stripe = "*"
pillow = "*"
psycopg2-binary = "*"
social-auth-app-django = "*"
django-extensions = "*"
werkzeug = "*"
pyopen = "*"

[dev-packages]

[requires]
python_version = "3.9"
