{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}



{% block content %}
<div id="contenedor_login">
        <h2 id="titulo">Log In</h2>
        <form action="" method="POST">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary" id="botonsusecc">Login</button>
            <a type="button" class="btn btn-warning" href="{% url 'account_signup'%}">Registrar</a>
           <div id="div_rec">
            <a  href="{% url 'account_reset_password' %}" id="reset"><br>Olvidaste tu contraseña????</a>
            
			
           </div>
                   </form>
                   <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
                   <!--<a href="{% provider_login_url "facebook" method="oauth2" %}">Facebook conect</a>-->
                </div>            
<style>
#contenedor_login{
    background-image:url("{% static 'img/login.jpg' %}");
    height: 600px;
    width: 1350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-left: 400px;
    padding-top: 120px;
    color: white;
}

#titulo{
    color: white;
}
#reset{
    color: white;
    font-size: 20px;
}

</style>




    {% endblock content%}


