
{% extends "base.html" %}
{% load static %}


{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Reseteo de contraseña" %}{% endblock %}

{% block content %}

<div id="contenedor_reset">
    <h1 id="color_mensaje">{% trans "Reseteo de contraseña" %}</h1>
    <p id="color_mensaje">{% blocktrans %}Le hemos enviado un correo electrónico. Por favor contáctenos si no lo recibe en unos minutos..{% endblocktrans %}</p>
    
</div>

<style>
    #contenedor_reset{
        background-image:url("{% static 'img/verificacion.jpg' %}");
        height: 600px;
        width: 1350px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        padding-left: 200px;
        padding-top: 120px;
        color: black;
    }
    
    #titulo{
        color: white;
    }
    #reset{
        color: white;
        font-size: 20px;
    }
    
    </style>
    


{% endblock %}