{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Cambio de contraseña" %}{% endblock %}
{% load static %}
{% block content %}
<div id="contenedor_login">
  <script>   
    swal("Atencion usuario {{ user.username }}!!", "Una ves realizado el cambio de la contraseña los datos se guardaran automaticamente de lo contrario aparecera un mensaje de error en la pantalla indicando que la contraseña que ingreso es invalida", "warning");
  </script>
    <h1>{% trans "Cambio de contraseña" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary" name="action" >{% trans "Guardar contraseña" %}</button>
       
    </form>
  </div>

  <style>
    #contenedor_login{
        background-image:url("{% static 'img/login.jpg' %}");
        height: 600px;
        width: 1350px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        padding-left: 400px;
        padding-top: 120px;
        color: white;
    }
    
    #titulo{
        color: white;
    }
    #reset{
        color: white;
        font-size: 20px;
    }
    
    </style>
    

    
{% endblock %}


