<style>
  #id_password1{
    margin-right: 50px;
  }
</style>
{% extends "base.html" %}
{% load i18n %}


{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
{% load static %}


<div id="contenedor_login">
  
<div id="pass">
<h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
    
{% if token_fail %}
{% url 'account_reset_password' as passwd_reset_url %}
<p>{% blocktrans %}La contraseña que ingreso fue invalida, posiblemente porque ya esta siendo usada .  porfavor solicite a <a href="{{ passwd_reset_url }}">una nueva contraseña </a>.{% endblocktrans %}</p>

{% else %}
{% if form %}

  <form method="POST" action="" >
    {% csrf_token %}
    {{form}}
    
    <div class="form-actions" >
      <button class="btn btn-primary" type="submit">{% trans "Cambiar contraseña" %}</button>
    </div>
  </form>
</div>

{% else %}
<p>{% trans 'Tu contraseña a sido cambiada.' %}</p>
{% endif %}
{% endif %}
</div>
<style>
#contenedor_login{
  background-image:url("{% static 'img/fondo_reset.jpg' %}");
  height: 600px;
  width: 1350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-left: 400px;
  padding-top: 120px;
  color: white;
}

#titulo{
  color: white;
}
#pass{
  width: 500px;
  background-color: rgba(0, 0, 0, 0.842);
  text-align: center;
}

</style>


{% endblock %}