 {% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% load static %}
{% block content %}
<div id="contenedor_key">
    <h1>{% trans "Operación Exitosa " %}</h1>
    <p id="color_mensaje">{% trans 'Tu contraseña a sido modificada con exito.' %}</p>
    <a href="{% url 'home' %}"><img id="img_can" src="{% static 'img/candado.png' %}"></a>

</div>

<style>
    #img_can{
        width: 190px;
        height: 180px;
        background-color: yellow;
        border-radius: 100px;
    }
    #contenedor_key{
        background-image:url("{% static 'img/hoteles_cancun_.jpg' %}");
        height: 600px;
        width: 1350px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        padding-left: 100px;
        padding-top: 80px;
        color: black;
    }
    
    #titulo{
        color: black;
    }
   
    
    </style>


{% endblock %}
